.flex
  display flex

.flex-centered
  display flex
  justify-content: center;
  align-items: center;

.flex-column
  display: flex;
  flex-direction: column;

.flex-column-centered
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

.flex-column-bottom
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

.flex-space-between
  justify-content: space-between!important

.flex-hz-centered
  justify-content: center!important

.flex-end
  justify-content: flex-end!important

.text-left
  text-align left!important

.text-center
  text-align center!important

.text-right
  text-align right!important
