.u-flex
  display flex

.u-flex-centered
  display flex
  justify-content center
  align-items center

.u-flex-v-centered
  display flex
  align-items center

.u-flex-align-centered
  align-items center

.u-flex-align-end
  align-items flex-end

.u-flex-column
  display flex
  flex-direction column

.u-flex-column-centered
  display flex
  flex-direction column
  justify-content center

.u-flex-column-bottom
  display flex
  flex-direction column
  justify-content flex-end

.u-flex-space-between
  justify-content space-between!important

.u-flex-hz-centered
  justify-content center!important

.u-flex-end
  justify-content flex-end!important
