@import "easing"
@import "flex"
@import "reset"
@import "reset-btn"

.u-container
  margin auto
  max-width $layout-container

  +above($breakpoints-xxl)
    max-width $layout-container-xxl

.u-screen-reader-text
  position absolute
  display block
  visibility visible
  overflow hidden
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip rect(0px, 0px, 0px, 0px)
  clip-path polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px)
  white-space nowrap

.u-hidden-mobile
  +below($breakpoints-l)
    display none

.u-hidden-desktop
  +above($breakpoints-l)
    display none

.u-hidden
  visibility hidden
  opacity 0

.u-no-padding
  padding 0

.u-no-margin
  margin 0

.u-centered
  margin auto

.u-text-left
  text-align left

.u-text-center
  text-align center

.u-text-right
  text-align right

.u-uppercase
  text-transform uppercase
