@import 'base/utils'
@import 'components'
@import 'transitions'

font-face($baldinger, 'baldinger', 500)
font-face($baldinger-bold, 'baldinger-bold')

html
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  touch-action none

*, *:before, *:after
  box-sizing border-box
  margin 0

ul
  margin 0
  padding 0