.title 
    font-family $baldinger
    font-size 24px
    text-transform uppercase
    position absolute 
    margin auto
    text-align center
    top 20vh; left 0; right 0

    +above($breakpoints-m)
        font-size 30px

    +above($breakpoints-xxxl)
        font-size 64px 